body {
  font-family: "Montserrat", sans-serif;
}

/* Title section */

#title {
  background-color: #ff4c68;
  color: white;
  overflow: hidden;

  /* font-family: "Montserrat", sans-serif; */
}

.navbar {
  padding: 0 0 4.5rem;
}

.brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

h1.mission {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  /* margin: 100px auto 50px auto; */
}

.container-fluid {
  padding: 3% 15%;
}

.top-nav-item {
  padding: 0 18px 0 18px;
}

.nav-item-text {
  font-size: 1.1rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.cellphone-image-holder {
  max-height: 450px;
}

.cellphone-image {
  width: 60%;
  transform: rotate(25deg);
  /* position: relative; */
  /* margin-top: 50px; */
}

/* Features section */

#features {
  font-family: "Montserrat";
  text-align: center;
}

.feature-items {
  /* margin: 100px auto 50px auto; */
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin: 10px auto 20px auto;
}

.feature-icon:hover {
  color: #ff4c68;
}

h3 {
  font-weight: 900;
}

p.features {
  color: gray;
  font-weight: 600;
}
